body {
    font-family: "Lora", sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1140px;
}
select,
textarea,
input {
    font-size: 16px;
}
.form-control:focus {
    box-shadow: none;
}
.form-control {
    font-size: 16px;
}
.tar {
    text-align: right;
}
.w-100-p {
    width: 100% !important;
}
.w-100 {
    width: 100px !important;
}
.w-150 {
    width: 150px !important;
}
.w-200 {
    width: 200px !important;
}
.w-300 {
    width: 300px !important;
}
.w-400 {
    width: 400px !important;
}
.h-100 {
    height: 100px !important;
}
.h-150 {
    height: 150px !important;
}
.h-200 {
    height: 200px !important;
}
.btn:first-child:hover,
:not(.btn-check) + .btn:hover {
    color: #fff;
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

.badge.bg-success {
    background: #11af33 !important;
}
.badge.bg-danger {
    background: #ff3c23 !important;
}

.bg-website {
    background: #47ae1b !important;
    border: 0;
}
.ml-auto {
    margin-left: auto !important;
}
a {
    transition: 0.35s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p {
    font-weight: 400;
}

.bg_f3f3f3 {
    background: #f3f3f3;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #47ae1b;
}
.primary-color {
    color: #47ae1b;
}
.primary-color:hover {
    color: #333;
}
select {
    width: 100% !important;
}

.button-style-1 a {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    background: #47ae1b;
    color: #fff;
    text-decoration: none;
    border: 1px solid #47ae1b;
    border-radius: 30px;
    padding: 14px 45px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.button-style-1 a:hover {
    transition: all 0.3s;
    background: transparent;
    border: 1px solid #47ae1b;
    color: #47ae1b;
}
.button-style-2 a {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    background: #47ae1b;
    color: #fff;
    text-decoration: none;
    border: 1px solid #47ae1b;
    border-radius: 30px;
    padding: 8px 35px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.button-style-2 a:hover {
    transition: all 0.3s;
    background: transparent;
    border: 1px solid #47ae1b;
    color: #47ae1b;
}



.top {
    min-height: 40px;
    color: #fff;
    background: #47ae1b;
    font-size: 14px;
    border-bottom: 1px solid #d7d7d7;
}
.top ul {
    margin-bottom: 0;
    padding-left: 0;
}
.top ul li {
    list-style-type: none;
    line-height: 40px;
    float: left;
    margin-right: 20px;
    font-weight: 400;
    position: relative;
    padding-left: 15px;
}
.top ul li a {
    color: #fff;
}
.top ul.right {
    float: right;
}
.top ul.right li {
    margin-right: 0;
    padding-left: 15px;
    margin-left: 10px;
}
.top ul.right li:before {
    content: "|";
    position: absolute;
    top: 0;
    left: 0;
}
.top ul.right li:first-child:before {
    display: none;
}

@media (max-width: 991px) {
    .top {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .top ul li {
        line-height: 28px;
    }
    .top ul.right {
        padding-top: 12px;
    }
    .top .left-side,
    .top .left-side ul {
        width: 100%;
    }
    .top .left-side ul {
        text-align: center;
    }
    .top .left-side ul li {
        float: none;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
    .top .right-side,
    .top .right-side ul {
        width: 100%;
    }
    .top .right-side ul {
        text-align: center;
    }
    .top .right-side ul li {
        float: none;
        display: inline-block;
    }
    .top ul.right {
        padding-top: 0;
    }
}
@media (max-width: 767px) {
    .top ul {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .top ul li {
        float: none;
        display: inline-block;
    }
    .top ul.right {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding-top: 0;
    }
    .top ul.right li {
        float: none;
        display: inline-block;
    }
    .top ul.right li:first-child {
        margin-left: 0;
        padding-left: 0;
    }
}


/* Heading Area */
.main-nav {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;
}
.main-nav .navbar {
    padding-left: 0;
    padding-right: 0;
}
.main-nav nav .navbar-nav .nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu {
    top: 68px !important;
    background: #ffffff !important;
    padding: 0 !important;
    border: 2px solid #f5f5f5 !important;
    border-radius: 0 !important;
    width: 200px !important;
    z-index: 999999 !important;
}
.main-nav nav .navbar-nav .nav-item a {
    color: #333;
    font-weight: 500;
    text-transform: none !important;
    font-size: 15px !important;
    position: relative;
}
.main-nav nav .navbar-nav .nav-item.active a {
    color: #47ae1b;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
    color: #444;
    border-bottom: 1px solid #dbdbdb;
}
.mobile-nav.mean-container .mean-nav ul li a.active,
.main-nav nav .navbar-nav .nav-item a:hover,
.main-nav nav .navbar-nav .nav-item a:focus,
.main-nav nav .navbar-nav .nav-item a.active,
.main-nav nav .navbar-nav .nav-item:hover a,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.main-nav
    nav
    .navbar-nav
    .nav-item
    .dropdown-menu
    li
    .dropdown-menu
    li
    a.active,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover a {
    color: #47ae1b;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #47ae1b !important;
}
.main-nav img {
    height: 50px;
}
.mobile-nav img {
    height: 40px;
}
.mean-container .mean-bar {
    background-color: #fff;
    height: 60px;
    z-index: 999999 !important;
}
.mean-container .logo {
    top: 5px;
}
.mean-container img {
    height: 50px;
}
.mean-container a.meanmenu-reveal span {
    background: #47ae1b;
}
.mean-container a.meanmenu-reveal {
    color: #47ae1b;
}

/* Scroll to Top */
.scroll-top {
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    background: #47ae1b;
    color: #fff;
    opacity: 0.7;
    z-index: 999999;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.scroll-top:hover {
    opacity: 1;
    color: #fff;
    background: #313131;
}

/* Advertisement */
.ad-section-1 img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Home Slider */
.slider .item {
    position: relative;
    height: 620px;
    transition: all 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.slider .item .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #454545;
}
.slider .text {
	position: relative;
	z-index: 99999;
    height: 100%;
}
.slider .text .container,
.slider .text .row {
    height: 100%;
}
.slider .text-wrapper {
    height: 100%;
    position: relative;
    display: table;
}
.slider .text-content {
    display: table-cell;
    vertical-align: middle;
    height: auto;
}
.slider .text h2 {
    font-size: 56px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
}
.slider .text p {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 1.7;
}
.slide-carousel.owl-carousel .owl-nav .owl-prev,
.slide-carousel.owl-carousel .owl-nav .owl-next {
	position: absolute;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.slide-carousel.owl-carousel .owl-nav .owl-prev {
	top: 47%;
    left: 0;
    margin-left: 40px;
}
.slide-carousel.owl-carousel .owl-nav .owl-next {
    top: 47%;
    right: 0;
    margin-right: 40px
}
.slide-carousel.owl-carousel .owl-nav .owl-prev:hover,
.slide-carousel.owl-carousel .owl-nav .owl-next:hover {
    color: #47ae1b;
    border: 2px solid #47ae1b;
}
@media (max-width: 1310px) {
    .slider .text {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 767px) {
    .slider .item {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media (max-width: 560px) {
    .slider .item {
        height: auto;
    }
    .slider .text-wrapper {
        display: block;
    }
}


.special {
	background: #f2f2f2;
}
.special .left-side {
    height: 100%;
    display: table;
}
.special .left-side .inner {
	padding: 0 30px;
    display: table-cell;
    vertical-align: middle;
}
.special .left-side h2 {
	color: #333;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}
.special .left-side h3 {
	color: #47ae1b;
	font-size: 34px;
	font-weight: 800;
	margin-bottom: 30px;
}
.special .left-side p {
	color: #333;
	font-size: 15px;
}
.special .left-side .read-more {
	margin-top: 30px;
}
.special .left-side .read-more a {
	border: 0;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 600;
	text-transform: uppercase;
}
.special .left-side .read-more a:hover {
	background: transparent;
	border-color: #fff;
}
.special .right-side {
	width: 100%;
	min-height: 500px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.special .right-side .video-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 32px;
	height: 44px;
	border-radius: 50%;
	padding: 24px 18px 18px 28px;
}
.special .right-side .video-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 66px;
	height: 66px;
    background: #47ae1b;
	border-radius: 50%;
	animation: video-pop 1500ms ease-out infinite;
}
.special .right-side .video-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 66px;
	height: 66px;
	background: #47ae1b;
	border-radius: 50%;
	transition: all 200ms;
}
.special .right-side .video-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 28px solid #fff;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
@keyframes video-pop {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
@media only screen and (max-width: 768px) {
	.special .right-side .video-section {
		margin-top: 40px;
	}
    .special .left-side {
        margin-bottom: 60px;
        display: block;
        height: auto;
    }
}


.cause .heading {
    text-align: center;
    margin-bottom: 30px;
}
.cause .heading h2 {
    font-size: 30px;
    font-weight: 700;
}
.cause .heading p {
    color: #696969;
}
.cause .item .photo {
    margin-bottom: 10px;
    overflow: hidden;
}
.cause .item .photo img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transform: scale(1);
	transition: all 0.4s ease;
}
.cause .item:hover .photo img {
    transform: scale(1.1);
}
.cause .item .text h2 {
    font-size: 20px;
    font-weight: 700;
}
.cause .item .text h2 a {
    color: #333;
}
.cause .item .text .short-des p {
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
}
.cause .item .text .progress {
    background-color: #d7d7d7;
    height: 9px;
}
.cause .item .text .progress-bar {
    background-color: #20b1db;
    width: 0;
}
.cause .item .text .lbl {
    display: flex;
    justify-content: space-between;
}
.cause .item .text .lbl .raised,
.cause .item .text .lbl .goal {
    font-size: 14px;
    color: #696969;
    font-weight: 700;
}
@media (max-width: 1199px) {
    .cause .item .photo img {
        height: 220px;
    }
}
@media (max-width: 991px) {
    .cause .item .photo img {
        height: 290px;
    }
}
@media (max-width: 767px) {
    .cause .item .photo img {
        height: auto;
    }
}



.why-choose {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
.why-choose:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #242424;
    z-index: 1;
}
.why-choose .heading {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}
.why-choose .heading h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.why-choose .heading p {
    color: #fff;
}
.why-choose .inner {
    position: relative;
    z-index: 2;
}
.why-choose .inner .icon {
    text-align: center;
    margin-bottom: 20px;
}
.why-choose .inner .icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 6px;
    font-size: 35px;
}
.why-choose .inner .text {
    text-align: center;
}
.why-choose .inner .text h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}
.why-choose .inner .text p {
    font-size: 15px;
    color: #fff;
}




.event .heading {
    text-align: center;
    margin-bottom: 30px;
}
.event .heading h2 {
    font-size: 30px;
    font-weight: 700;
}
.event .heading p {
    color: #696969;
}
.event .item .photo {
    margin-bottom: 10px;
    overflow: hidden;
}
.event .item .photo img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transform: scale(1);
	transition: all 0.4s ease;
}
.event .item:hover .photo img {
    transform: scale(1.1);
}
.event .item .text h2 {
    font-size: 20px;
    font-weight: 700;
}
.event .item .text h2 a {
    color: #333;
}
.event .item .text .short-des {
    margin-bottom: 15px;
}
.event .item .text .short-des p {
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
}
.event .item .text .date-time {
    font-size: 14px;
    color: #696969;
    font-weight: 600;
    margin-bottom: 15px;
}
.event .item .text .date-time i {
    color: #47ae1b;
}
@media (max-width: 1199px) {
    .event .item .photo img {
        height: 220px;
    }
}
@media (max-width: 991px) {
    .event .item .photo img {
        height: 290px;
    }
}
@media (max-width: 767px) {
    .event .item .photo img {
        height: auto;
    }
}



.blog .heading {
    text-align: center;
    margin-bottom: 30px;
}
.blog .heading h2 {
    font-size: 30px;
    font-weight: 700;
}
.blog .heading p {
    color: #696969;
}
.blog .item .photo {
    margin-bottom: 10px;
    overflow: hidden;
}
.blog .item .photo img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transform: scale(1);
	transition: all 0.4s ease;
}
.blog .item:hover .photo img {
    transform: scale(1.1);
}
.blog .item .text h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}
.blog .item .text h2 a {
    color: #333;
}
.blog .item .text .short-des p {
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
}
.blog .item .text .button a {
    background: #47ae1b;
    border: 0;
}
@media (max-width: 1199px) {
    .blog .item .photo img {
        height: 220px;
    }
}
@media (max-width: 991px) {
    .blog .item .photo img {
        height: 290px;
    }
}
@media (max-width: 767px) {
    .blog .item .photo img {
        height: auto;
    }
}


.cta {
    background: #47ae1b;
}
.cta .left h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.cta .left p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}
.cta .right {
    display: table;
    height: 100%;
    float: right;
}
.cta .right .inner {
    display: table-cell;
    vertical-align: middle;
}
.cta .right a {
    background: #fff;
    color: #47ae1b;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #fff;
}
.cta .right a:hover {
    background: transparent;
    color: #fff;
}
@media (max-width: 767px) {
    .cta .left {
        text-align: center;
    }
    .cta .right {
        text-align: center;
        padding-bottom: 50px;
        float: none;
        width: 100%;
    }
    .cta .right .inner {
        display: inline-block;
    }
}



.footer {
    background: #2c2c2c;
    color: #fff;
}
.footer h2.heading {
    font-size: 24px;
    margin-bottom: 25px;
}
.footer p,
.footer ul li,
.footer ul li a,
.footer .list-item .right {
    font-weight: 400;
    font-size: 15px;
    color: #a2a2a2;
}
.footer input[type="text"] {
    background: #3f3f3f;
    border: 0;
    color: #a2a2a2;
}
.footer input[type="submit"] {
    width: 100%;
    background: #47ae1b;
    border: 0;
    margin-top: 10px;
    font-weight: 600;
}
.footer input[type="submit"]:hover {
    background: #fff;
    color: #47ae1b;
}
.footer .list-item {
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: 400;
}
.footer .list-item .left {
    width: 30px;
    height: auto;
    float: left;
    padding-top: 2px;
}
.footer .list-item .left i {
    font-size: 20px;
    color: #a2a2a2;
}
.footer .list-item .right {
    width: calc(100% - 40px);
    height: auto;
    float: left;
}
.footer ul.social {
    padding: 0;
    margin-bottom: 25px;
    overflow: hidden;
}
.footer ul.social li {
    list-style-type: none;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
}
.footer ul.social li a {
    color: #fff;
    background: #47ae1b;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    display: block;
}
.footer ul.social li a:hover {
    color: #47ae1b;
    background: #fff;
}
.footer ul.useful-links {
    padding: 0;
}
.footer ul.useful-links li {
    list-style-type: none;
    margin-right: 6px;
    margin-bottom: 6px;
    position: relative;
}
.footer ul.useful-links li a {
    color: #a2a2a2;
}
.footer ul.useful-links li a:hover {
    padding-left: 6px;
    color: #47ae1b!important;
}


.footer-bottom {
    background: #202020;
    color: #fff;
    border-top: 1px solid #3c3c3c;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-bottom .copyright {
    text-align: center;
    font-size: 14px;
}


.page-top {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}
.page-top:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
    color: #fff;
    opacity: 0.5;
    z-index: 9;
}
.page-top h2 {
    font-weight: 700;
    font-size: 40px;
    position: relative;
    z-index: 99;
    color: #fff;
    opacity: 1;
    text-align: center;
}
.page-top .button {
    position: relative;
    z-index: 99;
    text-align: center;
}
.page-top .button a {
    background: #47ae1b;
    border: 0;
}
.page-top .button a:hover {
    background: #47ae1b;
    opacity: 0.8;
}
.page-top .breadcrumb-container {
    position: relative;
    z-index: 99;
    opacity: 1;
}
.page-top .breadcrumb {
    margin-bottom: 0;
    justify-content: center;
}
.page-top .breadcrumb-item.active {
    color: #ffffff;
}
.page-top .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #ffffff;
}
.page-top .breadcrumb a {
    color: #ffffff;
}
.page-top .breadcrumb a:hover {
    color: #47ae1b;
}

@media (max-width: 991px) {
    .page-top {
        margin-top: 60px;
    }
    .page-top-company-single .item .text .detail-1 .email,
    .page-top-company-single .item .text .detail-1 .phone {
        display: inline-block;
    }
}
@media (max-width: 767px) {
    .page-top-company-single .item .text .detail-1 .category,
    .page-top-company-single .item .text .detail-1 .location,
    .page-top-company-single .item .text .detail-1 .email,
    .page-top-company-single .item .text .detail-1 .phone {
        margin-bottom: 10px;
    }
}



.team .heading {
    text-align: center;
    margin-bottom: 30px;
}
.team .heading h2 {
    font-size: 30px;
    font-weight: 700;
}
.team .heading p {
    color: #696969;
}
.team .item .photo {
    margin-bottom: 10px;
    overflow: hidden;
}
.team .item .photo img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    transform: scale(1);
	transition: all 0.4s ease;
}
.team .item:hover .photo img {
    transform: scale(1.1);
}
.team .item .text {
    text-align: center;
}
.team .item .text h2 {
    font-size: 20px;
    font-weight: 700;
}
.team .item .text h2 a {
    color: #333;
}
.team .item .text .designation {
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
}
.team ul {
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.team ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
}
.team ul li a {
    color: #fff;
    background: #47ae1b;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    display: block;
}
@media (max-width: 1199px) {
    .team .item .photo img {
        height: 280px;
    }
}
@media (max-width: 991px) {
    .team .item .photo img {
        height: 500px;
    }
}
@media (max-width: 767px) {
    .team .item .photo img {
        height: auto;
    }
}



.team-single .photo {
    height: 100%;
}
.team-single .photo img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    object-fit: cover;
}
.team-single ul {
    width: 100%;
    display: block;
    padding-left: 0;
    margin-bottom: 0;
}
.team-single ul li {
    list-style-type: none;
    display: inline-block;
}
.team-single ul li a {
    background: #5ac736;
    color: #fff!important;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: block;
    margin-right: 6px;
    font-size: 16px;
    transition: all 0.4s ease;
}
.team-single ul li a:hover {
    background: #333;
}
.team-single table {
    background: #fff;
    margin-bottom: 0;
}
.team-single table tr td {
    background: #fff;
}



.page-content .sub {
    overflow: hidden;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.page-content .sub .item {
    float: left;
    margin-right: 15px;
    color: #969696;
}
.page-content .sub .item a {
    color: #969696;
    text-decoration: underline;
}
.page-content .main-text {
    margin-bottom: 25px;
}
.page-content h2 {font-weight: 700;}
.page-content h3 {font-weight: 700;}
.page-content h4 {font-weight: 700;}
.page-content h5 {font-weight: 700;}
.page-content h6 {font-weight: 700;}



.contact-form label {
    font-weight: 600;
}
.contact-form textarea {
    height: 200px;
}
.contact-form button {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    background: #47ae1b;
    color: #fff;
    text-decoration: none;
    border: 1px solid #47ae1b;
    border-radius: 30px;
    padding: 8px 35px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.contact-form button:hover {
    transition: all 0.3s;
    background: transparent;
    border: 1px solid #47ae1b;
    color: #47ae1b;
}
.map iframe {
    width: 100%;
    height: 450px;
}
@media (max-width: 1199px) {
    .map iframe {
        height: 400px;
    }
}



.faq .accordion {
    width: 70%;
}
.faq .accordion-button {
    color: #47ae1b;
    font-weight: 700;
    background: #ebebeb;
    font-size: 18px;
}
.faq .accordion-button.collapsed {
    background: none;
}
.faq .accordion-button:focus {
    box-shadow: none !important;
}
.faq .accordion-item {
    margin-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.faq .accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 700;
    background-image: none;
    transform: none;
    color: #47ae1b;
}
.faq .accordion-button.collapsed::after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 700;
    background-image: none;
}
.faq .accordion-item .accordion-button {
    border-radius: 0 !important;
}
.faq .accordion-body {
    font-weight: 400;
}
.faq .accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.faq .accordion-item:last-of-type {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
@media (max-width: 991px) {
    .faq .accordion {
        width: 100% !important;
    }
}



.faq-cause .accordion-header {
    border-bottom: 0!important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}
.faq-cause .accordion-button {
    color: #242424;
    font-weight: 600;
    background: #ebebeb;
    font-size: 16px;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.faq-cause .accordion-button.collapsed {
    background: none;
}
.faq-cause .accordion-button:focus {
    box-shadow: none !important;
}
.faq-cause .accordion-item {
    margin-bottom: 8px!important;
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.faq-cause .accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 700;
    background-image: none;
    transform: none;
    color: #47ae1b;
}
.faq-cause .accordion-button.collapsed::after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 700;
    background-image: none;
}
.faq-cause .accordion-item .accordion-button {
    border-radius: 0 !important;
}
.faq-cause .accordion-body {
    font-weight: 400;
}
.faq-cause .accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.faq-cause .accordion-item:last-of-type {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
@media (max-width: 991px) {
    .faq-cause .accordion {
        width: 100% !important;
    }
}




.testimonial {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.testimonial .bg {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #242424;
    opacity: 0.4;
}
.testimonial h2.main-header {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    position: relative;
}
.testimonial .item {
    text-align: center;
    color: #fff;
    padding: 30px;
}
.testimonial .description {
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
}
.testimonial .description p {
    position: relative;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}
.testimonial .description p:before {
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background: #fff;
}
.testimonial .photo {
    width: 95px;
    height: 95px;
    margin: 0 auto;
}

.testimonial .photo img {
    width: 100%;
    height: auto;
}
.testimonial .text {
    margin-top: 15px;
}
.testimonial .text h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
}
.testimonial .text p {
    font-size: 15px;
    margin: 0;
}
.testimonial-carousel .owl-dots {
    text-align: center;
    margin-top: 30px;
}
.testimonial-carousel .owl-dots .owl-dot {
    width: 24px;
    height: 24px;
    background: #47ae1b;
    border: 7px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.testimonial-carousel .owl-dots .owl-dot.active {
    width: 24px;
    height: 24px;
    background: #313131;
    border: 7px solid #fff;
}
.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    line-height: 48px;
    background: #fff;
    color: #47ae1b;
    margin-top: -25px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.testimonial-carousel .owl-nav .owl-prev {
    left: 0;
}
.testimonial-carousel .owl-nav .owl-next {
    right: 0;
}
.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #47ae1b;
    background: #fff;
}
@media (max-width: 991px) {
    .testimonial .description {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}




.counter-section {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #f2f2f2;
}
.counter-section .counter-items {
    text-align: center;
}
.counter-section .counter-item {
    text-align: center;
    color: #47ae1b;
}
.counter-section .counter-item .counter {
    font-size: 50px;
    font-weight: 700;
    color: #47ae1b;
}
.counter-section .counter-item .text {
    font-size: 20px;
}
@media only screen and (max-width: 767px) {
    .counter-section .counter-item {
        margin-bottom: 30px;
    }
}


.clearfix {
    width: 100%;
    clear: both;
}
.page-top-job-single {
    padding-top: 0;
    padding-bottom: 0;
}
.page-top-job-single .job-single {
    z-index: 999;
    padding-top: 30px;
    padding-bottom: 20px;
}
.page-top-job-single .job-single .item {
    border: 0;
}
.page-top-job-single .job-single .item .text h3,
.page-top-job-single .job-single .item .text h3 a {
    color: #fff;
    font-size: 28px;
}
.page-top-job-single .job-single .item .text .detail-1,
.page-top-job-single .job-single .item .text .detail-1 .category:before,
.page-top-job-single .job-single .item .text .detail-1 .location:before,
.page-top-job-single .job-single .item .text .detail-1 .email:before,
.page-top-job-single .job-single .item .text .detail-1 .phone:before,
.page-top-job-single .job-single .item .text .detail-2 .date,
.page-top-job-single .job-single .item .text .detail-2 .date:before,
.page-top-job-single .job-single .item .text .detail-2 .budget,
.page-top-job-single .job-single .item .text .detail-2 .budget:before {
    color: #e3e3e3;
}

.page-top-job-single .job-single .item .text .apply {
    position: absolute;
    right: 0;
    top: 35px;
}
.page-top-job-single .job-single .item .text .apply a {
    background: #47ae1b;
    border: 0;
    padding: 12px 30px;
    font-weight: 600;
}
.page-top-job-single .job-single .item .text .apply a.save-job {
    background: #bbcdff;
    color: #3661ef;
}
@media (max-width: 991px) {
    .page-top-job-single .job-single .item {
        display: block !important;
    }
    .page-top-job-single .job-single .item .logo {
        margin-right: 0;
    }
    .page-top-job-single .job-single .item .text .apply {
        position: relative;
    }
    .page-top-job-single .job-single .item .text {
        text-align: center;
    }
    .page-top-job-single .job-single .item .text h3 {
        padding-right: 0;
    }
    .page-top-job-single .job-single .item .text .detail-1,
    .page-top-job-single .job-single .item .text .detail-2,
    .page-top-job-single .job-single .item .text .special {
        display: block !important;
        text-align: center;
    }
    .page-top-job-single .job-single .item .text .detail-1 .category,
    .page-top-job-single .job-single .item .text .detail-1 .location,
    .page-top-job-single .job-single .item .text .detail-2 .date,
    .page-top-job-single .job-single .item .text .detail-2 .budget,
    .page-top-job-single .job-single .item .text .detail-2 .expired,
    .page-top-job-single .job-single .item .text .special .featured,
    .page-top-job-single .job-single .item .text .special .type,
    .page-top-job-single .job-single .item .text .special .urgent {
        display: inline-block !important;
    }

    .page-top-job-single .job-single .item .text .apply {
        margin-bottom: 30px !important;
    }
}

@media (max-width: 480px) {
    .page-top-job-single .job-single .item .text .detail-1 .category,
    .page-top-job-single .job-single .item .text .detail-1 .location,
    .page-top-job-single .job-single .item .text .detail-2 .date,
    .page-top-job-single .job-single .item .text .detail-2 .budget,
    .page-top-job-single .job-single .item .text .detail-2 .expired {
        padding-left: 0 !important;
        margin-right: 0 !important;
    }
    .page-top-job-single .job-single .item .text .detail-1 .category:before,
    .page-top-job-single .job-single .item .text .detail-1 .location:before,
    .page-top-job-single .job-single .item .text .detail-2 .date:before,
    .page-top-job-single .job-single .item .text .detail-2 .budget:before,
    .page-top-job-single .job-single .item .text .detail-2 .expired:before {
        position: relative;
        top: 2px;
        left: -7px;
    }
}




.event-detail .left-item {
    margin-bottom: 30px;
}
.event-detail .left-item .main-photo {
    margin-bottom: 25px;
}
.event-detail .left-item .main-photo img {
    width: 100%;
    height: auto;
}
.event-detail .left-item h2 {
    color: #222;
    font-weight: 700;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}
.event-detail .right-item {
    margin-bottom: 30px;
}
.event-detail .right-item h2 {
    color: #222;
    font-weight: 700;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}
.event-detail .right-item .location-map iframe {
    width: 100%;
    height: 200px;
}
.event-detail .right-item .enquery-form input, 
.event-detail .right-item .enquery-form textarea {
    font-size: 16px;
}
.event-detail .right-item .enquery-form button {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    background: #47ae1b;
    color: #fff;
    text-decoration: none;
    border: 1px solid #47ae1b;
    border-radius: 30px;
    padding: 8px 35px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.event-detail .right-item .enquery-form button:hover {
    transition: all 0.3s;
    background: transparent;
    border: 1px solid #47ae1b;
    color: #47ae1b;
}
.event-detail .right-item .summary table tr td:nth-of-type(1) {
    width: 120px;
}
.event-detail .right-item .summary table tr tr,
.event-detail .right-item .summary table tr td {
    border: 1px solid #c7c7c7;
    vertical-align: middle;
}
.event-detail .right-item .summary .price {
    font-size: 30px;
    font-weight: 700;
}
.event-detail .right-item .boxes {
	display: flex;
	justify-content: center;
}
.event-detail .right-item .box {
    background: #47ae1b;
	border: 2px solid #fff;
	width: 100px;
	height: 100px;
	text-align: center;
	color: #fff;
	margin-right: 10px;
}
.event-detail .right-item .box .num {
	font-size: 36px;
	font-weight: 700;
	padding-top: 8px;
}
.event-detail .right-item .box .name {
	margin-top: -10px;
}
.event-detail .right-item ul {
    padding-left: 0;
}
.event-detail .right-item ul li {
    list-style: none;
    margin-bottom: 10px;
}
.event-detail .right-item ul li a {
    color: #242424;
    font-weight: 400;
}
.event-detail .right-item .pay-sec {
    background: #1e3474;
    padding: 15px;
}
.event-detail .right-item .pay-sec .pay-now {
    font-weight: 600;
    background: #47ae1b;
    border: 0;
}
@media (max-width: 991px) {
    .event-detail .right-item .location-map iframe {
        height: 400px;
    }
}
@media (max-width: 767px) {
    .event-detail .right-item .location-map iframe {
        height: 300px;
    }
}
@media (max-width: 575px) {
    .event-detail .right-item .location-map iframe {
        height: 350px;
    }
}



.cause-detail .left-item {
    margin-bottom: 30px;
}
.cause-detail .left-item .main-photo {
    margin-bottom: 25px;
}
.cause-detail .left-item .main-photo img {
    width: 100%;
    height: auto;
}
.cause-detail .left-item h2 {
    color: #222;
    font-weight: 700;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}
.cause-detail .right-item {
    margin-bottom: 30px;
}
.cause-detail .right-item h2 {
    color: #222;
    font-weight: 700;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}
.cause-detail .right-item .enquery-form input, 
.cause-detail .right-item .enquery-form textarea {
    font-size: 16px;
}
.cause-detail .right-item .enquery-form button {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    background: #47ae1b;
    color: #fff;
    text-decoration: none;
    border: 1px solid #47ae1b;
    border-radius: 30px;
    padding: 8px 35px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.cause-detail .right-item .enquery-form button:hover {
    transition: all 0.3s;
    background: transparent;
    border: 1px solid #47ae1b;
    color: #47ae1b;
}
.cause-detail .right-item .summary table tr td:nth-of-type(1) {
    width: 160px;
}
.cause-detail .right-item .summary table tr tr,
.cause-detail .right-item .summary table tr td {
    border: 1px solid #c7c7c7;
    vertical-align: middle;
}
.cause-detail .right-item .summary .price {
    font-size: 30px;
    font-weight: 700;
}
.cause-detail .right-item .donate-sec {
    background: #1e3474;
    padding: 15px;
}
.cause-detail .right-item .donate-sec h3 {
    color: #fff;
    font-size: 15px;
}
.cause-detail .right-item .donate-sec .form-control {
    padding: 0;
    border: 0;
}
.cause-detail .right-item .donate-select ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.cause-detail .right-item .donate-select ul li {
    list-style-type: none;
    margin-right: 5px;
}
.cause-detail .right-item .donate-select ul li button {
    background: #fff;
    color: #47ae1b;
    border: 0;
}
.cause-detail .right-item .donate-select ul li button.selected {
    background: #47ae1b;
    color: #fff;
}
.cause-detail .right-item .donate-select ul li button:hover {
    background: #bbf5a3;
    color: #47ae1b;
}
.cause-detail .right-item .donate-sec .donate-now {
    text-transform: uppercase;
    font-weight: 600;
    background: #47ae1b;
    border: 0;
    margin-top: 15px;
}
.cause-detail .lbl {
    display: flex;
    justify-content: space-between;
}
.cause-detail .lbl .raised,
.cause-detail .lbl .goal {
    font-size: 16px;
    color: #696969;
    font-weight: 700;
}
.cause-detail .right-item ul {
    padding-left: 0;
}
.cause-detail .right-item ul li {
    list-style: none;
    margin-bottom: 10px;
}
.cause-detail .right-item ul li a {
    color: #242424;
    font-weight: 400;
}




.post .left-item {
    margin-bottom: 30px;
}
.post .left-item .main-photo {
    margin-bottom: 25px;
}
.post .left-item .main-photo img {
    width: 100%;
    height: auto;
}
.post .left-item h2 {
    color: #222;
    font-weight: 700;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}
.post .left-item .sub {
    display: block;
    margin-bottom: 20px;
}
.post .left-item .sub ul {
    padding-left: 0;
    margin-bottom: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-top: 6px;
    padding-bottom: 6px;
}
.post .left-item .sub ul li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    color: #646464;
    font-weight: 400;
    font-size: 14px;
}
.post .left-item .sub ul li a {
    color: #646464;
    font-weight: 400;
    font-size: 14px;
}
.post .left-item .sub ul li i {
    color: #47ae1b;
}
.post .left-item .description {
    display: block;
}
.post .right-item {
    margin-bottom: 30px;
}
.post .right-item h2 {
    color: #222;
    font-weight: 700;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}
.post .right-item ul {
    padding-left: 0;
}
.post .right-item ul li {
    list-style: none;
    margin-bottom: 10px;
}
.post .right-item ul li a {
    color: #242424;
    font-weight: 400;
}
.post .right-item ul.tag {
    padding-left: 0;
}
.post .right-item ul.tag li {
    list-style: none;
    margin-bottom: 15px;
    float: left;
    margin-right: 5px;
}
.post .right-item ul.tag li a {
    background: #242424;
    color: #fff;
    font-weight: 400;
    padding: 5px 10px 7px;
    border-radius: 3px;
}
.post .right-item ul.tag li a:hover {
    background: #47ae1b;
}





.comment {
    margin-top: 40px;
}
.comment h2 {
    font-size: 18px;
    font-weight: 700;
    color: #47ae1b;
    margin-bottom: 20px;
}
.comment .comment-section {
    margin-bottom: 20px;
}
.comment .comment-box {
    background: #eeeeee;
    padding: 15px;
}
.comment .comment-box .left img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #b6b6b6;
    margin-right: 10px;
}
.comment .comment-box .right .name {
    font-size: 18px;
    font-weight: 600;
}
.comment .comment-box .right .date {
    font-size: 14px;
    color: #515151;
    margin-bottom: 15px;
}
.comment .comment-box .right .text {
    font-size: 16px;
}
.comment .comment-box .right .reply {
    margin-top: 10px;
}
.comment .comment-box .right .reply a {
    color: #47ae1b;
    font-size: 16px;
}
.comment .reply-box {
    padding-left: 100px;
}
.comment input,
.comment textarea,
.comment button {
    font-size: 14px;
}
.comment textarea {
    height: 200px;
}
.comment button {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    background: #47ae1b;
    color: #fff;
    text-decoration: none;
    border: 0;
    border-radius: 30px;
    padding: 8px 35px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.comment button:hover {
    transition: all 0.3s;
    background: #47ae1b;
    color: #47ae1b;
}
.comment button:hover {
    background: #000!important;
}
@media only screen and (max-width: 767px) {
    .comment button {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 450px) {
    .comment .reply-box {
        padding-left: 40px;
    }
}






.photo-all .item {
    position: relative;
    margin-bottom: 25px;
}

.photo-all .item-delete {
    margin-bottom: 0px;
}

.photo-all img {
    width: 100%;
    height: auto;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}
.video-all .item {
    position: relative;
    margin-bottom: 25px;
}
.video-all .item-delete {
    margin-bottom: 0px;
}
.video-all img {
    width: 100%;
    height: auto;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}
.photo-all .item .icon,
.video-all .item .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.photo-all .item .icon {
    font-size: 20px;
}
.video-all .item .icon {
    font-size: 40px;
}
.photo-all .item .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.3;
    border-radius: 6px;
}
.video-all .item .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.3;
    border-radius: 6px;
}
@media only screen and (max-width: 1199px) {
    .photo-all img,
    .video-all img {
        height: 120px;
    }
}
@media only screen and (max-width: 991px) {
    .photo-all img,
    .video-all img {
        height: 260px;
    }
}
@media only screen and (max-width: 767px) {
    .photo-all img,
    .video-all img {
        height: 390px;
    }
}
@media only screen and (max-width: 575px) {
    .photo-all img,
    .video-all img {
        height: 320px;
    }
}
@media only screen and (max-width: 475px) {
    .photo-all img,
    .video-all img {
        height: 280px;
    }
}
@media only screen and (max-width: 400px) {
    .photo-all img,
    .video-all img {
        height: 220px;
    }
}



.login-form .nav-item {
    margin-right: 10px;
}
.login-form .nav-link {
    background: #bbcdff;
    color: #3661ef;
    font-weight: 600;
}



.select2-container {
    z-index: 99999 !important;
}
.select2-container--bootstrap .select2-selection--single {
    height: 36px !important;
    line-height: 36px !important;
    padding-top: 0 !important;
    font-size: 15px !important;
}



.photo-gallery-heading {
	font-weight: 700;
	font-size: 22px;
	color: #47ae1b;
	text-align: left;
}
.photo-gallery-item {
    position: relative;
}
.photo-gallery-item img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}
.photo-gallery-item .photo-gallery-item-bg {
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
    opacity: 0;
    background: #333;
    z-index: 9;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.photo-gallery-item:hover .photo-gallery-item-bg {
	opacity: 0.6;
}
.photo-gallery-item .plus-icon {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	z-index: 99;
	font-size: 30px;
	color: #fff;
}
.photo-gallery-item:hover .plus-icon {
	visibility: visible;
	display: flex;
	align-items: center;
  	justify-content: center;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.photo-gallery-item img {
		height: 207px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.photo-gallery-item img {
		height: 236px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.photo-gallery-item img {
		height: 364px;
	}
}
@media only screen and (max-width: 575px) {
	.photo-gallery-item img {
		object-fit: fill;
		height: auto;
	}	
}





.video-gallery-heading {
	font-weight: 700;
	font-size: 22px;
	color: #47ae1b;
	text-align: left;
}
.video-gallery-item {
    position: relative;
}
.video-gallery-item img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}
.video-gallery-item .video-gallery-item-bg {
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
    opacity: 0;
    background: #333;
    z-index: 9;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.video-gallery-item:hover .video-gallery-item-bg {
	opacity: 0.6;
}
.video-gallery-item .plus-icon {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	z-index: 99;
	font-size: 30px;
	color: #fff;
}
.video-gallery-item:hover .plus-icon {
	visibility: visible;
	display: flex;
	align-items: center;
  	justify-content: center;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.video-gallery-item img {
		height: 207px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.video-gallery-item img {
		height: 236px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.video-gallery-item img {
		height: 364px;
	}
}
@media only screen and (max-width: 575px) {
	.video-gallery-item img {
		object-fit: fill;
		height: auto;
	}	
}